.tab-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .header-button-group .active {
    background-color: rgb(5, 7, 110);
    color: #fff;
    border: none;
  }
  
  .header-button-group .MuiButton-outlined {
    border: none;
  }
  
  .header-button:hover {
    background-color: rgb(35, 37, 159);
    color: #fff;
    border: none;
  }

  hr{
    border: 2px solid rgb(35, 37, 159);

  }
